/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body.wmd-dark {
  background: #121212;
  color: #e6e6e6;
}

body.wmd-dark .mat-mdc-card {
  background: #1e1e1e;
}
.cards {
  padding: 16px;
  border-radius: 10px;
}